#main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
}

#statesList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}

#state {
	border: 1px solid whitesmoke;
	border-radius: 7px;
	margin: 0.5rem;
	padding: 0.5rem;
}

#topCard {
	border: 1px solid whitesmoke;
	border-radius: 7px;
	margin: 0.5rem;
	padding: 0.5rem;
}

canvas {
	width: 1600px !important;
	height: 400px !important;
}

path {
	pointer-events: all;
}

path:hover {
	opacity: 0.5;
	cursor: pointer;
}

div {
	background-color: #6e7279c9;
	color: whitesmoke;
}

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #505357;
	font-size: 1.5rem;
	padding: 0.75rem;
	font-weight: bold;
	color: whitesmoke;
}

#pageLabel {
	color: whitesmoke;
}

body {
	background-color: #6e7279c9;
}

Listgroup Item {
	background-color: #6e7279c9;
}

Card {
	background-color: #6e7279c9;
}

#stateDayPage {
	width: 90%;
}

#listOuterBox {
	display: flex;
	flex-direction: row;
}
